<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>

  <script type="text/javascript">

      var updateTimer = function() {
        // Get current time seconds
        var sec = new Date().getSeconds();
        
        // Fire if clock has struck 0 or 30
        if (sec == 0 || sec == 30) {
          updateToken2()
        } else {
          var secsToNext = 0;
          // If less than 30, next update is at 30
          if (sec < 30) {
            secsToNext = 30 - sec;
          } else if (sec > 30) {
            secsToNext = 60 - sec;
          }
          $('.update').text('Updating in ' + secsToNext + '...')
        }
      }
      var updateToken2 = function() {
        $.get('/token?secret=' + $('#secret2').text(), function( data ) {
          $('#token2').text(data.token)
        });
      }
      var getQR2 = function() {
        $.post('/generate', {'user':'lcortes@customotp.com'}, function( data ) {
          console.log("data=",data);
          $('#secret2').text(data.secret.base32);
          $('#qr2').attr("src",data.qrPath);
          updateToken2();
        });
      }
      $(document).ready(function() {
        $('#verify2_button').click(function() {
          $.post('/verify',{ 
            'secret':$('#secret2').text(), 
            'token': $('#token2_input').val()
            }, function( data ) {
              $('#verify2_result').text(data);
          });
        })
          //getQR2();
      });
      setInterval(updateTimer, 500);
  </script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/agentoforceLogo.png">
        </a>
        <h1>OTP for Agentforce</h1>
        <p>This is a sample OTP application deployed to Heroku.</p>
      </div>
    </div>
    <div class="container">
      <div class="lead">
        Scan this in to Google Authenticator or another two-factor authentication app.
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p></p>
          <p id="secret2"><%= locals.secret.base32 %></p>
          <p>
            <img id="qr2" src="<%= locals.qrPath %>" style="display: block; width: 200px;" width="200"/>
          </p>
        </div>
        <div class="col-md-4">
          <p id="token2" style="font-size: 30pt; font-family: Monaco, Inconsolata, Consolas, Helvetica, sans-serif;">
            <%= locals.token %>
          </p>
          <p><small class="update">Updating in ..</small></p>
        </div>
        <div class="col-md-4">
          <p>
            <input id="token2_input" type="text"
              style="font-size: 30pt; font-family: Monaco, Inconsolata, Consolas, Helvetica, sans-serif; width: 155px;"
              placeholder="000000" />
          </p>
          <p><input id="verify2_button" type="button" value="Verify" class="btn btn-lg btn-primary"></p>
          <p id="verify2_result"></p>
        </div>
      </div>

    </div>


</body>

</html>